body {
	/*border: solid;
	border-color: orange;*/
	box-sizing: border-box; /*very important so borders/boxes fit the window/page*/
	background-color: FFFFFF;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	display: grid; /*made borders close to each other, with no space/margin in between... is this what's called block element???*/
	margin: 0;
	margin-bottom: 100px;
}

header {
	styling: none;
	/*
	border: dotted;
	border-color: black;
	padding-bottom: 10px;
	position: relative;*/ 
	
}

#header-img {
	position: relative;
	padding: 9px;

}

#nav-bar {
  	background-color: #FFFFFF; 
  	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  	height: 90px;
	
}

#nav-bar a {
  	color: none;
  	padding: 20px;
  	text-decoration: none;
	float: right;
}

ul {
	list-style: none;
	display: flex;
	float: right;
}

#videosection {
	/*box-sizing: border-box;*/
	padding: 50px;
	margin-top: 90px;
	background-color: #F7F7F7;
	justify-content: center;
	display: grid; /*made the video centered*/
}

#services {
	background-color: #FFFFFF;
	display: grid;
	padding: 30px;
	justify-content: center;
}

#pricing {
	display: grid;
	justify-content: center;
	padding: 30px;
	background-color: #F7F7F7;
}

.title {
	text-align: center;
	margin-top: 40px;
	
}

.flex-container {
	display: flex;
	margin: 20px;
	padding: 10px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* card */
  	padding: 16px;
  	text-align: center;
  	background-color: #f1f1f1;
  	margin: 20px;
  	width: 200px;
  	border-radius: 5px;
}

@media (max-width: 700px) {
  .flex-container {   
    flex-direction: column;
}

#get-in-touch {
	background-color: #FFFFFF;
	display: grid;
	justify-content: center;
}
